#USE THIS FILE CAUTIOUSLY!!!

#If you absolutely MUST override these safety relevant settings (Do you REALLY?), 
#you can remove the '#' to override some settings in YAME.
#
#But please, be aware that these safety features were implemented to catch some major
#sources of user error. If used as intended, YAME should never bug you with 
#nuisance warnings. That being said, some people may want to take matters into their
#own hands... 

#ForceHotRigWarningSilent = false
#ForceComPortOpen_OnStartUp = true
#ShowAboutWindow_OnStartup = true
#MotionControlSelector_OnStartUp = Park		#Choose:  Park, Pause, Motion
#AutoCrashRecovery = false					#Highly Experimental!!!
#CreateLogFile = false						#not implemented yet
